@{
    string userRole = User.Claims.Where(n => n.Type == System.Security.Claims.ClaimTypes.Role).FirstOrDefault().Value;
}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="col">
        <a href="~/" class="brand-link">
            <img src="~/img/apsiyon-logo.png" width="75" />
            <span class="brand-text font-weight-light">Ap<b>sis</b></span>
        </a>
    </div>

    <div class="sidebar">
        <div class="user-panel mt-2 pb-2 mb-3 d-flex">
            <div class="image" style="display: flex; align-items: center; flex-wrap: wrap;">
                <img src="https://media.istockphoto.com/photos/portrait-of-smiling-handsome-man-in-blue-tshirt-standing-with-crossed-picture-id1045886560?s=612x612" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Claims.Where(n => n.Type == System.Security.Claims.ClaimTypes.Name).FirstOrDefault().Value</a>
                <a href="#" class="d-block" style="font-size: smaller;color: #838f9b">@User.Claims.Where(n => n.Type == System.Security.Claims.ClaimTypes.Role).FirstOrDefault().Value</a>
            </div>
        </div>

        <!-- Sidebar Menu -->

        <ul class="nav  nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="~/home/index" class="nav-link">
                    <i class="fa fa-home nav-icon"></i>
                    <p>Home</p>
                </a>
            </li>


            @if (userRole == "Administrator")
            {
                <li class="nav-item">
                    <a href="~/Building/Index" class="nav-link">
                        <i class="far fa-building nav-icon"> </i>
                        <p>Buildings</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/House/Index" class="nav-link">
                        <i class="fas fa-door-open"> </i>
                        <p>Houses</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="~/User/Index" class="nav-link">
                        <i class="fas fa-user nav-icon"> </i>
                        <p>Users</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/ResidentHouse/Index" class="nav-link">
                        <i class="fas fa-user nav-icon"> </i>
                        <p>Resident House</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Payment/Index" class="nav-link">
                        <i class="fas fa-user nav-icon"> </i>
                        <p>Payment</p>
                    </a>
                </li>
            }

            @if (userRole == "Resident")
            {
                <li class="nav-item">
                    <a href="~/MyFlat/Index" class="nav-link">
                        <i class="fas fa-door-open"> </i>
                        <p>My Flats</p>
                    </a>
                </li>
            }


            <li class="nav-item">
                <a href="~/account/logout" class="nav-link">
                    <i class="fas fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                </a>
            </li>


        </ul>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>